body{
    
    background-color: lavender;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}



header {
    
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}

main{
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: forestgreen;
    font-family: sans-serif;
    
}

footer{
    
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
}

h1 {font-family: cursive; color: maroon; font-size: 36px;
    text-align: center;
   
}


p {
    font-family: "serif";
    font-size: 18 px;
    color: darkgoldenrod;
}

h2 {
    font-family: "serif";
    font-size: 18 px;
    color: darkgoldenrod;
    text-align: center;
}


li {
    font-family: "serif";
    font-size: 16 px;
    color: darkblue;
}

#intro-image img {
    width: 300px;
    border-radius: 70%;
}


