body{
    
    background-color: lavender;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}



header {
    
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}

main{
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: forestgreen;
    font-family: sans-serif;
    
}

footer{
    
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
}

h1 {font-family: cursive; color: maroon; font-size: 36px;
    text-align: center;
   
}

a {
    font-size: 12px;
    font-family: "ariel", sans-serif;
    
}

a:link {
    color: pink;
}

a:visited {
    color: red;
}

a:hover {
    color: beige;
}

a:active {
    color: yellow;
}

p {
    font-family: "serif";
    font-size: 18 px;
    color: darkgoldenrod;
}

li {
    font-family: "serif";
    font-size: 16 px;
    color: darkblue;
}

#intro-image {
    
    text-align: center;
}

#intro-image img {
    width: 300px;
    border-radius: 70%;
}

#intro-image #mn {
    
    width: 200px;
    border-radius: 50%;
    opacity: .50;
}

div {
    opacity: .7;
    border-radius: 50%;
}